.checkList-wrapper{
        margin: 50px 20px 20px;
        
    .checkList-content{
        .checkList-model-servis{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .checklist_total{
                border-top: 1px solid black;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;

                .checklist-total-element{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5px;
                }
            }

        }
        .checkList-header{
            display: flex;
            flex-direction: row;
            margin: 10px 10px 20px;
            
            button{
                margin: 0px 20px;
            }
        }
        .checkList-contact{
            .checkList-name-mail,
            .checkList-number-desc{
                display: flex;
                flex-direction: row;
            }
            .checkList-contact-element{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 15px 5px;
                border-bottom: 1px solid grey;
            }
        }
    }
}