.header-header{
    width: 100%;
    background-color: grey;

    .home-title{
        text-align: center;
        font-size: 1.4rem;
    }

    .header-toolbar{
        display: flex;
        flex-direction: row;
        width: 100vw;

        .header-icons{
            display: flex;
            justify-content: space-evenly;
            font-size: 1.8rem;
            margin: 0px 25px;
        }

        .header-url{
            width: 85vw;
            input{
                width: 95%;
                height: 20px;
                border-radius: 10px;
                padding: 3px;
            }
        }

        .header-search{
            width: 10vw;
            font-size: 1.15rem;
            input{
                margin-left: 10px;
                padding: 3px;
                height: 20px;
                border-radius: 10px;
            }
        }
    }
}