.modalHeader{
    position: relative;
    height: 50px;
    margin-top: 10px;

    .modalHeader-title{
        text-align: center;
    }
    .modalHeader-icon{
        .close-icon{
            border: 1px solid black;
            box-shadow: 1px 1px 1px black;
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: 1.5rem;
            cursor: pointer;
            color: black;
            background-color: red;
        }
    }
}